@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/IRANSans-Medium-web.woff) format("woff");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/IRANSans-Light-web.woff) format("woff");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/IRANSans-UrtlaLight-web.woff) format("woff");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/IRANSans-web.woff) format("woff");
}

body {
  font-weight: 400;

  color: #555;
  overflow-x: hidden;
}

ul.navbar-nav li a {
  font-size: 13px;
}

.logo-header {
  background-color: #ffffff;
  border-radius: 50px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.09);
  float: right;
  width: 100%;
  margin-bottom: 10px;
}

.logo-header a {
  margin: auto;
  display: block;
  text-align: center;
}

.lang {
  width: 38px;
  margin-right: 8px !important;
}
/* 
.logo {
  width: 70px;
} */

.navbar-custom {
  background-color: #ffffff;
  margin-bottom: 22px;
  border-radius: 50px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.5em;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.09);
}

main {
  margin-top: 30px;
}

main .sidbar .slider-sidbar .carousel-control-prev i,
main .sidbar .slider-sidbar .carousel-control-next i {
  color: #5a5a5a;
  font-size: 38px;
}

main .sidbar section {
  border-radius: 10px;

  margin-bottom: 1.5em;
  /* background: #fff; */
  float: right;
  width: 100%;
}

main .sidbar section > p {
  margin: 0;
  font-size: 29px;
  text-align: center;
  padding: 10px;
  /* background: #1a5627; */
  background: rgb(157, 156, 152);
  background: linear-gradient(
    3deg,
    rgba(157, 156, 152, 1) 0%,
    rgba(175, 173, 173, 1) 50%,
    rgba(203, 203, 202, 1) 100%
  );
  color: #424242;
  border-radius: 10px;
  margin-bottom: 11px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.562);
}

main .sidbar section p i {
  font-size: 13px;
}

main .sidbar .ads {
  width: 100%;
  justify-content: center !important;
}

main .sidbar .ads img {
  width: 297px;
  height: 297px !important;
}

main .sidbar .instagram {
  width: 100%;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  color: #fff;
  text-align: left;
  padding: 5px;
}

main .sidbar .instagram p {
  padding: 10px;
  font-weight: 300;
  margin: 0;
  text-align: left;
}

main .sidbar a {
  color: unset;
}

main .sidbar a:hover {
  text-decoration: none;
}

main .sidbar .instagram p i {
  position: relative;
  padding: 0px;
  font-size: 34px;
  float: right;
  top: -5px;
  right: 5px;
}

main .sidbar .telegram {
  background-color: #00bfff;
  color: #fff;
  text-align: left;
  padding: 5px;
}

main .sidbar .telegram p {
  padding: 10px;
  font-weight: 300;
  margin: 0;
  text-align: left;
}

main .sidbar .telegram p i {
  position: relative;
  padding: 0px;
  font-size: 34px;
  float: right;
  top: -7px;
  right: 3px;
}

main .sidbar .facebook {
  background-color: #4267b2;
  color: #fff;
  text-align: left;
  padding: 5px;
}

main .sidbar .facebook p {
  padding: 10px;
  font-weight: 300;
  margin: 0;
  text-align: left;
}

main .sidbar .facebook p i {
  position: relative;
  padding: 0px;
  font-size: 34px;
  float: right;
  top: -7px;
  right: 3px;
}

main .sidbar .twitter {
  background-color: #00bfff;
  color: #fff;
  text-align: left;
  padding: 5px;
}

main .sidbar .twitter p {
  padding: 10px;
  font-weight: 300;
  margin: 0;
  text-align: left;
}

main .sidbar .twitter p i {
  position: relative;
  padding: 0px;
  font-size: 34px;
  float: right;
  top: -7px;
  right: 3px;
}

main .sidbar .youtube {
  background-color: #ff0000;
  color: #fff;
  text-align: left;
  padding: 5px;
}

main .sidbar .youtube p {
  padding: 10px;
  font-weight: 300;
  margin: 0;
  text-align: left;
}

main .sidbar .youtube p i {
  position: relative;
  padding: 0px;
  font-size: 34px;
  float: right;
  top: -7px;
  right: 3px;
}

main .sidbar .tiktok {
  background-color: #ffffff;
  color: #fff;
  text-align: left;
  padding: 5px;
}

main .sidbar .tiktok p {
  padding: 10px;
  font-weight: 300;
  margin: 0;
  text-align: left;
  color: #464646;
}

main .sidbar .tiktok p i {
  position: relative;
  padding: 0px;
  font-size: 34px;
  float: right;
  top: -7px;
  right: 3px;
}

main .sidbar .tiktok p i {
  background-image: url("../img/tiktok.png");
  width: 34px;
  height: 34px;
  background-size: 33px;
  background-repeat: no-repeat;
  right: 5px;
}

main .sidbar .whatsapp {
  background-color: #25d366;
  color: #fff;
  text-align: left;
  padding: 5px;
}

main .sidbar .whatsapp p {
  padding: 10px;
  font-weight: 300;
  margin: 0;
  text-align: left;
}

main .sidbar .whatsapp p i {
  position: relative;
  padding: 0px;
  font-size: 34px;
  float: right;
  top: -7px;
  right: 3px;
}

main .sidbar .news {
  padding-top: 12px;
  background-color: #fff;
}

main .sidbar .news ul {
  margin: 0;
  padding: 0;
}

main .sidbar .news ul li:nth-child(even) {
  background-color: #f2f2f2;
}

main .sidbar .news ul li a {
  color: #616161;
  font-size: 13px;
  font-weight: 300;
  width: 100%;
  display: block;
  padding: 14px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .sidbar .news ul li a:before {
  /* content: "\f105"; */
  font-family: "Font Awesome 5 Pro";
  margin-left: 0px;
  margin-right: 7px;
}

main .sidbar .news ul li a:hover {
  color: #03a9f4;
}

main .sidbar .news ul li a i {
  margin-left: 5px;
  font-size: 15px;
}

main .main {
  background-color: #d8d8d8;
  padding-bottom: 12px;
  border-radius: 10px;
}

main .main p.title-ads {
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 17px !important;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.09);
  background: #1a5627;
  padding: 9px;
  font-size: 14px;
  color: #fff;
  width: 70%;
}

main .main a.link-more-ads {
  width: 100%;
  background-color: #6d6d6d;
  color: #fff;
  padding: 6px;
  font-size: 13px;
  margin-top: 40px;
  border-radius: 50px;
  text-align: center;
}

main .main .title-new {
  width: 100%;
  background-color: #03a9f4;
  color: #fff;
  float: right;
  padding: 10px;
  font-size: 13px;
  text-align: center;
  border-radius: 10px;
  /* margin-top: 50px; */
}

main .main .col-custom {
  width: 33.33333333333333%;
  float: right;
}

main .main .col-custom .post {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 13px !important;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.09);
  background: #fff;
  margin: 5px;
  margin-top: 0;
  cursor: pointer;
}

main .main .col-custom .post h2 {
  font-size: 13px;
  text-align: center;
  padding: 8px;
  margin: 0;
}

main .main .col-custom .post img {
  width: 100%;
}

.slide {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.09);
  background: #fff;
}

.slide .carousel-control-prev,
.slide .carousel-control-next {
  z-index: 10;
}

.slide .tazhib {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: contents;
}

.slide .tazhib img.left {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 13%;
}

.slide .tazhib img.right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  width: 13%;
}

.owl-carousel {
  direction: ltr !important;
}

.comments {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 13px !important;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.09);
  background: #fff;
  margin: 5px;
  margin-top: 30px;
  float: right;
  width: 100%;
}

.comments p {
  background-color: #fff;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.comments .title,
.videos .title {
  background-color: #ab210c;
  color: #fff;
}

.comments ul {
  display: contents;
}

.comments ul li {
  float: right;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.comments ul li .right {
  float: right;
  width: 10%;
}

.comments ul li .right img {
  width: 100%;
  border-radius: 50%;
}

.comments ul li .left {
  float: right;
  width: 90%;
}

.comments ul li p {
  text-align: right;
  border: 0;
}

.comments ul li p:first-child {
  color: #03a9f4;
}

.videos {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 13px !important;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.09);
  background: #fff;
  margin: 5px;
  margin-top: 30px;
  float: right;
  width: 100%;
}

.videos h2 {
  background-color: #fff;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.videos .video img {
  width: 100%;
  max-width: 367px;
  margin: auto;
  display: block;
  opacity: 0.6;
}

.videos .video i {
  position: absolute;
  top: 9px;
  left: 7px;
  right: 0;
  text-align: center;
  z-index: 999999;
  color: #fff;
  font-size: 46px;
}

.videos .video .play {
  width: 64px;
  height: 64px;
  background-color: #484848ee;
  position: absolute;
  top: 35px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 50px;
}

.owl-logo {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 13px !important;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.09);
  background: #fff;
  margin: 5px;
  margin-top: 30px;
  float: right;
  width: 100%;
}

.owl-logo .item {
  width: 14.28571428571429%;
  float: right;
}

.owl-logo .item img {
  width: 100%;
}

.news-index {
  border-radius: 10px;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 13px !important;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.09);
  background: #fff;
  margin: 5px;
  float: right;
  width: 100%;
  height: 357px;
  direction: ltr;
}

.news-index h3 {
  font-size: 13px;
  text-align: center;
  padding: 14px;
  border-bottom: 1px solid #f3f3f3;
  font-weight: 300;
}

.news-index ul {
  margin: 0;
  margin-left: 0;
  padding: 0;
}

.news-index ul li {
  text-align: right;
  display: flex;
  border-bottom: 1px solid #eee;
  direction: rtl;
  width: 100%;
}

.news-index ul li .right {
  width: 20%;
  float: right;
}

.news-index ul li .right img {
  width: 100%;
}

.news-index ul li .left {
  width: 80%;
  float: right;
  padding-right: 10px;
}

.news-index ul li .left p {
  font-size: 12px;
  color: #a2a2a2;
  font-weight: 300;
  text-align: justify;
  direction: rtl;
  padding-left: 15px;
}

.news-index ul li .left a.more-link {
  background-color: #e6e6e6;
  color: #5a5a5a;
  text-decoration: none;
  font-size: 11px;
  padding: 5px;
  float: left;
  margin-bottom: 10px;
  margin-left: 7px;
}

.news-index ul li h2 {
  color: #616161;
  font-size: 14px;
  font-weight: 300;
  padding-top: 6px;
}

.news-index::-webkit-scrollbar {
  width: 10px;
}

/* Track */

.news-index::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

.news-index::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

.news-index::-webkit-scrollbar-thumb:hover {
  background: #555;
}

footer {
  background-color: #5bd5e4;
  width: 100%;
  margin-top: 50px;
  border: #409ff1 1px solid;
}

footer p {
  margin: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  padding: 21px;
}

.android-h {
  display: inline;
}

.pc-h {
  display: none;
}

.single-blog {
  background-color: #fff;
  padding-bottom: 30px;
  margin-bottom: 20px;
  float: right;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.5em;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.09);
  background: #fff;
}

.single-blog h2 {
  font-size: 13px;
  padding: 10px;
  background: #eaeaea;
  color: #3e3e3e;
  font-weight: 400;
  border-radius: 50px;
  margin: 8px;
  margin-top: 9px;
}

.single-blog img {
  width: 100%;
}

.single-blog p {
  text-align: justify;
  padding: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 29px;
  color: #7d7d7d;
}

.text-logo {
  background-color: #ffffff;
  margin-bottom: 22px;
  border-radius: 50px;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.09);
  text-align: center;
  padding: 8px;
  margin-bottom: 7px;
}

.stky {
  position: sticky;
  position: -webkit-sticky;
  top: 30px !important;
  transition: 0.3s;
}

.flags {
  float: right;
  margin-top: 2.5% !important;
  margin-right: 17px;
}

.flags a {
  width: 100%;
  float: right;
  padding: 5px;
}

.flags a p {
  font-size: 12px;
  color: #696969;
  margin-top: 6px;
  margin-bottom: 0;
}

@media (max-width: 700px) {
  .pc-h {
    display: inline;
  }
  .slide .tazhib img.left {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 25%;
  }
  .slide .tazhib img.right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    width: 25%;
  }

  .flags .lang {
    width: 32px;
    margin-right: 10px;
  }
  a.navbar-brand {
    display: contents;
  }
  .navbar-custom {
    margin-bottom: 5px;
  }
}

.modal-header .close {
  margin-left: -1rem;
  margin-right: auto;
}

.slider-img .carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: inherit;
  width: 8.333333333333333%;
  float: right;
  height: 50px;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: -14px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
  display: table;
}

.slider-img .carousel-indicators .active {
  opacity: 1;
  /* outline: 1px solid; */
}

.slider-img .carousel-indicators {
  /* bottom: 24px; */
  position: relative;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  padding: 0;
  display: block;
  margin-top: 25px;
}

.slider-img {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.09);
  padding: 12px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.bk-transparent {
  background-color: transparent !important;
}

.tags {
  padding-right: 15px;
  padding-left: 15px;
}

.tags p {
  color: #3e3e3e;
  font-size: 13px;
  border-top: 1px solid #eee;
  font-weight: 400;
}

.tags span {
  font-size: 11px;
  padding: 3px 13px;
  background: #eee;
  border-radius: 50px;
  text-decoration: none;
  color: #8c8c8c;
  font-weight: 300;
}

.comments-single {
  float: right;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.5em;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.09);
  background: #fff;
  padding: 15px;
}

.comments-single h3 {
  font-size: 13px;
  font-weight: 500;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.comments-single .comment {
  float: right;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.comments-single .comment.answer {
  background: #eee;
  width: 90%;
  float: right;
}

.comments-single .comment .comment-image {
  width: 10%;
  float: left;
}

.comments-single .comment .comment-image img {
  width: 100%;
  border-radius: 50%;
}

.comments-single .comment .comment-body {
  width: 90%;
  padding: 10px;
  float: right;
}

.comments-single .comment .comment-body p.name {
  font-size: 12px;
  font-weight: 500;
}

.comments-single .comment .comment-body p.text {
  font-size: 11px;
}

.send-comment {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.send-comment label {
  font-size: 12px;
}

.send-comment input,
.send-comment textarea {
  font-size: 12px;
}

.send-comment input:focus,
.send-comment textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #000000;
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

.box-catgory {
  width: 85%;
  float: right;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 1.5em;
}

/* @media only screen and (max-width: 991px) {
  .box-catgory {
    width: 99% !important;
  }
} */

.box-catgory a {
  text-decoration: none;
}

.box-catgory h2 {
  font-size: 12px;
  text-align: center;
  background: #656565;
  padding: 10px;
  margin: 0;
  font-weight: 300;
  color: #ffffff;
}

.box-catgory img {
  width: 100%;
}

.box-catgory p {
  background: #919191;
  margin: 0;
  text-align: center;
  font-size: 20px;
  padding: 9px;
  color: #ffffff;
}

.box-catgory p.des {
  text-align: justify;
  line-height: 22px;
}

header {
  position: relative;
  width: 100%;
}

.logo {
  position: relative;
  z-index: 123;
  /* padding: 10px; */
  font: 18px verdana;
  /* color: #6ddb07; */
  float: left;
  width: 15%;
}
/* 
.logo a {
  color: #6ddb07;
} */

nav {
  position: relative;
  width: 980px;
  margin: 0 auto;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  transition: all 0.25s ease;
}

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#cssmenu #head-mobile {
  display: none;
}

#cssmenu {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.09);
}

#cssmenu > ul > li {
  float: left;
  margin: 0px 1px;
}

#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 12px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

#cssmenu > ul > li:hover > a,
#cssmenu ul li.active a {
  color: #fff;
}

#cssmenu > ul > li:hover,
#cssmenu ul li.active:hover,
#cssmenu ul li.active,
#cssmenu ul li.has-sub.active:hover {
  color: #fff !important;
}

#cssmenu > ul > li.has-sub > a {
  padding-left: 30px;
}

#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  left: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: "";
}

#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  left: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: "";
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}

#cssmenu ul ul {
  position: absolute;
  /* left:-9999px */
  opacity: 0;
  z-index: -9999;
}

#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  background: #656565;
  /* background: rgb(41 41 41 / 68%); */
  transition: all 0.25s ease;
  border-radius: 5px;
  margin: 2px 0;
}

#cssmenu li:hover > ul {
  right: auto;
  z-index: 9999;
  opacity: 1;
}

#cssmenu li:hover > ul > li {
  height: 35px;
  left: -41px;
}

#cssmenu ul ul ul {
  margin-left: 103%;
  top: 0;
}

#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #fff;
}

#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #ddd;
  content: "";
}

#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #ddd;
  content: "";
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}

#cssmenu ul ul li:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
  background: #363636;
}

#cssmenu ul ul ul li.active a {
  border-right: 1px solid #333;
}

#cssmenu > ul > li.has-sub > ul > li.active > a,
#cssmenu > ul ul > li.has-sub > ul > li.active > a {
  border-top: 1px solid #333;
}

.a-logo {
  width: 108px;
  float: left;
  height: 100px;
  margin-top: 4px;
  /* position: absolute; */
}

.a-logo img {
  width: 94%;
  height: 100%;
}

ul.menu-head {
  float: left;
  margin-top: 27px;
}

nav .button {
  display: none;
}

.none-bk {
  background-color: transparent !important;
}

.video-more .video-post {
  background-color: #fff;
  padding-bottom: 15px;
  margin-bottom: 20px;
  float: right;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.5em;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.09);
  background: #fff;
}

.video-more .video-post img {
  width: 100%;
}

.video-more .video-post h3 {
  font-size: 12px;
  text-align: center;
  color: #5d5d5d;
  font-weight: 400;
}

.video-more h2 {
  text-align: right;
  font-size: 13px;
  margin-bottom: 18px;
}

footer .logo {
  width: 200px;
  float: none;
  margin-top: 35px;
}

footer h4 {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
  background: #565656;
  padding: 5px;
  border-radius: 50px;
  color: #fff;
  font-weight: 400;
}

footer ul li a {
  font-size: 12px;
  color: #c7c7c7;
}

@media screen and (max-width: 1000px) {
  #cssmenu li:hover > ul > li {
    height: 35px;
    left: unset;
  }
  .logo {
    /* position:absolute; */
    top: 0;
    right: 0;
    width: 87px !important;
    height: auto;
    text-align: center;
    padding: 10px 0 0 0;
    float: none;
    /* display: none; */
  }
  .logo2 {
    display: none;
  }
  nav {
    width: 100%;
  }
  .flags {
    display: block !important;
  }
  #cssmenu ul ul.open,
  #cssmenu ul ul ul.open {
    background: #363636;
  }
  #cssmenu {
    width: 100%;
    margin-bottom: 6px;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
    padding: 0;
    z-index: 9 !important;
  }
  #cssmenu .lang-mini {
    width: 100%;
    display: block !important;
    padding: 0;
    z-index: 9 !important;
  }
  #cssmenu ul li {
    width: 100%;
    /* border-top: 1px solid #444; */
    border: 2px solid #373b3f;
    padding: 1px 20px;
    text-align: center;
    background: #bce0fd;
    border-radius: 9px;
    margin: 4px;
    color: #0f2a60 !important;
    transition: all 0.25s ease;
    height: auto !important;
  }
  #cssmenu ul li:hover {
    background: #363636;
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-right: 25px;
  }
  #cssmenu ul ul li {
    background: #333 !important;
  }
  #cssmenu ul ul li:hover {
    background: #363636 !important;
  }
  #cssmenu ul ul ul li a {
    padding-right: 35px;
  }
  #cssmenu ul ul li a {
    color: #ddd;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #fff;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    right: 0;
    width: 100%;
    margin: 0;
    text-align: left;
    opacity: unset;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #head-mobile {
    display: block;
    padding: 23px;
    color: #ddd;
    font-size: 12px;
    font-weight: 700;
  }
  .button {
    width: 55px;
    height: 56px;
    position: absolute;
    left: 20px;
    top: 0;
    cursor: pointer;
    z-index: 12399994;
    display: initial !important;
    font-size: 29px;
    padding-top: 24px;
  }
  .button.menu-opened:after {
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: 23px;
    border: 0;
    height: 2px;
    width: 19px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .button.menu-opened:before {
    top: 23px;
    background: #fff;
    width: 19px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid #444;
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    left: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: "";
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    left: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #fff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    left: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: "";
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    left: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
  #cssmenu ul ul ul li.active a {
    border-right: none;
  }
  #cssmenu > ul > li.has-sub > ul > li.active > a,
  #cssmenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: none;
  }
  #cssmenu > ul > li.has-sub > a {
    padding-left: 15px;
  }
}

img {
  max-width: 100%;
}

.advertising-image img {
  border-radius: 10px;
  border: 1px solid #494949;
}

/* .advertising-image {
  margin-top: 5px;
} */

.btn {
  font-size: 14px;
}

.map {
  float: right;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.5em;
  box-shadow: 0px 5px 37px rgba(0, 0, 0, 0.09);
  background: #fff;
  padding: 15px;
}

.map h2 {
  font-size: 13px;
  font-weight: 500;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

button.sendmsg {
  background-color: #828282;
  outline: 0;
  border: 0;
  font-size: 13px;
  color: #fff;
  font-weight: 300;
  padding: 5px 24px;
}

.contact-info p {
  padding: 4px 13px;
}

.contact-info p i {
  font-size: 20px;
  position: relative;
  top: -4px;
  margin-right: 10px;
  background: #eee;
  width: 40px;
  height: 40px;
  text-align: center;
  float: left;
  clear: both;
  border-radius: 20px;
}

.contact-info p i:before {
  top: 10px;
  position: relative;
}

#map {
  height: 400px;
}

footer .text-loc,
footer .text-num {
  text-align: left;
  padding-bottom: 0;
}

footer .text-loc i,
footer .text-num i {
  margin-right: 10px;
}

iframe.youtube {
  position: absolute;
  top: 0;
  left: 50%;
  width: 95%;
  height: 95%;
  transform: translate(-50%, 0);
  border: 0;
}

.youtube-div {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

img.captcha {
  border: 1px solid #ced4da;
}
