#cssmenu > ul > li {
  float: right;
}

#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}

#cssmenu > ul > li.has-sub > a:after {
  right: 11px;
  left: unset;
}

#cssmenu > ul > li.has-sub > a:before {
  right: 14px;
}

#cssmenu li:hover > ul {
  left: auto;
}

#cssmenu li:hover > ul > li {
  right: -41px;
  left: unset;
}

#cssmenu ul ul ul {
  margin-right: 103%;
}

#cssmenu ul ul li.has-sub > a:after {
  left: 11px;
  right: unset;
}

#cssmenu ul ul li.has-sub > a:before {
  left: 14px;
  right: unset;
}

.flags {
  float: left;
  margin-left: 17px;
}

.a-logo {
  float: right;
}

ul.menu-head {
  float: right;
}

.lang {
  margin-left: 10px;
  margin-right: unset;
}

.comments-single {
  float: left;
}

.comments-single .comment {
  float: left;
}

.comments-single .comment.answer {
  float: left;
}

.comments-single .comment .comment-image {
  float: right;
}

.comments-single .comment .comment-body {
  float: left;
}

.contact-info p {
  padding: 4px 13px;
}
.contact-info p i {
  margin-left: 10px;
  float: right;
}

main .sidbar .news ul li a:before {
  margin-left: 7px;
  margin-right: 0px;
  /* content: "\f104"; */
}
@media screen and (max-width: 1000px) {
  #cssmenu .submenu-button {
    left: 0;
    right: auto;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    right: 0;
    text-align: right;
  }
  .button {
    right: 20px;
  }
  #cssmenu li:hover > ul > li {
    right: 0px;
    left: unset;
  }
}

footer .text-loc i,
footer .text-num i {
  margin-left: 10px;
  margin-right: 0px;
}

footer .text-loc,
footer .text-num {
  text-align: right;
}
